<main>
    <h2>User Operations </h2>
    <div class="horizontal-container">
        <ol>
            <li>
                <a href="/registration">
                <img src="../public/images/addUser.png" alt="Add a user" style="height: 100px; width: 100px">
            </a>
            </li>
            <li>
                <a href="/removeUser">
                <img src="../public/images/removeUser.png" alt="Remove a user" style="height: 100px; width: 100px">
                </a>
            </li>
        </ol>
        <script></script>
</main>

{{!--  --}}