{{!-- <main>
    <div class="action-icons">
        <a href="#" id="fileopsCopy" file-op="copy" class="disabled">
            <img class="copy" src="../public/images/copy.png" alt="" width="25" height="25">
        </a>
        <a href="#" id="fileopsCut" file-op="cut" class="disabled">
            <img class="cut" src="../public/images/cut.png" alt="" width="25" height="25">
        </a>
        <a href="#" id="fileopsPaste" file-op="paste" class="disabled">
            <img class="paste" src="../public/images/paste.png" alt="" width="25" height="25">
        </a>
        <a href="#" id="fileopsDelete" file-op="delete" class="disabled">
            <img class="delete" src="../public/images/delete.png" alt="" width="25" height="25">
        </a>
        <a href="#" id="fileopsUpload" file-op="upload" class="disabled">
            <img class="upload" src="../public/images/upload.png" alt="" width="25" height="25">
        </a>
        <a href="#" id="fileopsDownload" file-op="download" class="disabled">
            <img class="download" src="../public/images/download.png" alt="" width="25" height="25">
        </a>
    </div>
    <script src="../public/js/fileopsValidation.js"></script>
    <link rel="stylesheet" href="../public/css/fileops.css">
</main> --}}
